.ytav-renderer {
    float: left;
    /*background-color: blue;*/
}
.ytav-gui {
    position: relative;
    overflow: hidden;
    height: 100%;
    /*background-color: green;*/
}
.ytav-title {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 15%;
    /*background-color: yellow;*/
}
.ytav-title-text {
    color: rgb(55, 55, 55);
    text-align: center;
}
.ytav-title-version {
    color: rgb(255, 69, 0);
    text-align: center;
    padding: 0 0 50% 30%;
}
.ytav-title-version-value {
    color: rgb(55, 55, 55);
    transition: .5s;
}
.ytav-title-version-value:hover {
    color: rgb(255, 69, 0);
    cursor: pointer;
}
.ytav-title-toggle-settings {
    height: 100%;
    width: 1em;
    float: left;
    position: relative;
}
.ytav-settings {
    height: 100%;
    /*background-color: red;*/
}
.ytav-scene-changer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 10%;
    /*background-color: purple;*/
}
.ytav-btn-previous {
    vertical-align: bottom;
    float: left;
    margin: 5px;
}
.ytav-btn-next {
    vertical-align: bottom;
    float: right;
    margin: 5px;
}
.ytav-btn-toggle {
	display: inline-block;
}
.ytav-btn-toggle-title {
	display: inline-block;
}