[submodule "lib/pixi"]
	path = lib/pixi
	url = https://github.com/pixijs/pixi.js.git
[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery-dist.git
[submodule "lib/localstorage"]
	path = lib/localstorage
	url = https://github.com/tsironis/lockr.git
