.ytav-renderer {
    float: left;
    background-color: blue;
}

.ytav-gui {
    overflow: hidden;
    height: 100%;
    background-color: green;
}

.ytav-title {
    height: 10%;
    background-color: yellow;
}

.ytav-title-text {
    color: rgb(55, 55, 55);
    text-align: center;
}

.ytav-title-version {
    color: rgb(255, 69, 0);
    text-align: center;
    padding: 0 0 50% 30%;
}

.ytav-title-version-value {
    color: rgb(55, 55, 55);
    transition: .5s;
}

.ytav-title-version-value:hover {
    color: rgb(255, 69, 0);
    cursor: pointer;
}

.ytav-settings {
    height: 85%;
    background-color: red;
}

.ytav-scene-changer {
    height: 5%;
    background-color: purple;
}

.ytav-btn-previous {
    vertical-align: bottom;
    float: left;
    margin: 5px;
}

.ytav-btn-next {
    vertical-align: bottom;
    float: right;
    margin: 5px;
}
